<html lang="es">
  <head>
    <title>Twitter</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/home.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-3 col-sm-2">
          <br />
          <ul class="list-group">
            <li class="list-group-item tw-list-group-item">
              <a href="/" class="tw-link">
                <span>
                  <img
                    src="/img/kittierdark.png"
                    alt="miau"
                    class="kittydark"
                  />
                </span>
              </a>
            </li>
            <li class="list-group-item tw-list-group-item">
              <a href="/" class="tw-link">
                <span class="fa fa-home"></span>
              </a>
              <label class="d-none d-xl-inline tw-link">Feed</label>
            </li>
            <li class="list-group-item tw-list-group-item">
              <a href="#" class="tw-link">
                <span class="fa fa-hashtag"></span>
              </a>
              <label class="d-none d-xl-inline tw-link">Explorar</label>
            </li>
            <li class="list-group-item tw-list-group-item">
              <a href="#" class="tw-link">
                <span class="fa fa-bell"></span>
              </a>
              <label class="d-none d-xl-inline tw-link">Notificaciones</label>
            </li>
            <li class="list-group-item tw-list-group-item">
              <a href="#" class="tw-link">
                <span class="fa fa-envelope"></span>
              </a>
              <label class="d-none d-xl-inline tw-link">Mensajes</label>
            </li>
            <li class="list-group-item tw-list-group-item">
              <a href="#" class="tw-link">
                <span class="fa fa-bookmark"></span>
              </a>
              <label class="d-none d-xl-inline tw-link">Favoritos</label>
            </li>
            <li class="list-group-item tw-list-group-item">
              <a href="#" class="tw-link">
                <span class="fa fa-list"></span>
              </a>
              <label class="d-none d-xl-inline tw-link">Listas</label>
            </li>
            <li class="list-group-item tw-list-group-item">
              <a href="/profile/<%= user._id %> " class="tw-link">
                <span>
                  <img
                    src="/img/profile.png"
                    style="width: 24px; margin-right: 10px"
                    class="rounded-circle"
                  />
                </span>
              </a>
              <label class="d-none d-xl-inline tw-link">Perfil</label>
            </li>
            <li class="list-group-item tw-list-group-item">
              <a href="#" class="tw-link">
                <span class="fa fa-ellipsis-h"></span>
              </a>
              <label class="d-none d-xl-inline tw-link">Mas</label>
            </li>
          </ul>
          <br />
          <a
            href="/crear"
            class="btn btn-light btn-block btn-lg tw-btn-primary d-none d-lg-block"
          >
            Miau
          </a>
          <button
            class="btn btn-light btn-block btn-lg tw-btn-primary d-lg-none"
          >
            <span class="fa fa-pencil"></span>
          </button>
        </div>
        <div class="col-8 col-sm-7 tw-border-right">
          <br />
          <div class="row tw-border-bottom">
            <div class="col-10 col-md-11">
              <h5><strong>Pagina principal</strong></h5>
            </div>
            <div class="col-1">
              <span class="fa fa-star"></span>
            </div>
          </div>
          <br />
          <form action="/crear" method="post">
            <div class="d-none d-xl-block d-md-none">
              <div class="row">
                <div class="col-2 col-md-1">
                  <img
                    src="/img/profile.png"
                    style="width: 38px; margin-right: 10px"
                    class="rounded-circle"
                  />
                </div>

                <div class="col-10 col-md-11">
                  <input
                    name="content"
                    class="form-control tw-input-light"
                    placeholder="Que estas pensando?"
                  />
                </div>
              </div>
              <br />

              <div class="row tw-separator">
                <div class="col-10">
                  <span class="fa fa-image"></span>
                  <span class="fa fa-smile-o"></span>
                </div>
                <div class="col-2">
                  <button class="btn tw-btn-primary">Miau</button>
                </div>
                <br />
                <br />
              </div>
            </div>
          </form>
          <!--Los tweets-->
          <% for(const tweet of tweets){ %>
          <div class="row tw-border-bottom tw-timeline">
            <div class="col-2 col-md-1">
              <img
                src="/img/profile.png"
                style="width: 42px"
                class="rounded-circle"
              />
            </div>
            <div class="col-10 col-md-11">
              <b><%= tweet.author.firstname %> <%= tweet.author.lastname %></b>
              <lablel class="tw-label">@<%= tweet.author.username %></lablel>
              <br />
              <p><%= tweet.content %></p>
              <div class="row" id="icons">
                <span class="fa fa-comment-o"></span>
                <span class="fa fa-retweet"></span>
                <form
                  method="POST"
                  action="/favTweet/<%= tweet._id %>"
                  id="favTweet"
                >
                  <input
                    type="text"
                    name="getTweetId"
                    id="getTweetId"
                    value="<%= tweet._id %>"
                    style="display: none"
                  />
                  <button type="submit" id="btnlike">
                    <% if (tweet.favoritedBy.includes(user._id)) { %>
                    <span class="fa fa-heart fa-solid text-danger">
                      <%= tweet.favoritedBy.length %>
                    </span>
                    <% }else { %>
                    <span class="fa fa-heart-o"></span>
                    <% } %>
                  </button>
                </form>
                <form
                  method="POST"
                  action="/delete/<%= tweet._id %>"
                  id="delete"
                >
                  <button type="submit" id="btntrash">
                    <span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-trash"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                        />
                        <path
                          fill-rule="evenodd"
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                        />
                      </svg>
                    </span>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <% } %>
        </div>
        <div class="col-3 d-none d-xl-block d-md-none">
          <br />
          <div class="row">
            <div class="col-12">
              <input
                class="form-control tw-input-gray"
                placeholder="Buscar en Kitter"
              />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-12">
              <div class="card tw-card">
                <div class="card-body">
                  <h5 class="card-title tw-card-title">Destacado</h5>
                  <hr />
                  <label class="tw-label">Asuntos en este momento</label>
                  <br />
                  <b>Lorem ipsum</b>
                  <p class="tw-label">503 mil twittes</p>
                  <hr />
                  <b>Lorem ipsum</b>
                  <p class="tw-label">53 mil twittes</p>
                  <hr />
                  <b>Lorem ipsum</b>
                  <p class="tw-label">3.410 mil twittes</p>
                  <hr />
                  <a class="tw-link tw-link-primary" href="#">Mostrar mas</a>
                </div>
              </div>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col-12">
              <div class="card tw-card">
                <div class="card-body">
                  <h5 class="card-title tw-card-title">A quien seguir</h5>
                  <hr />
                  <div class="row">
                    <div class="col-2">
                      <img
                        src="/img/profile1.png"
                        style="width: 40px"
                        class="rounded-circle"
                      />
                    </div>
                    <div class="col-6">
                      <b>Kitty Cat</b>
                      <p class="tw-label">@catkitty</p>
                    </div>
                    <div class="col-2">
                      <button class="btn btn-light tw-btn-light">Seguir</button>
                    </div>
                  </div>

                  <hr />
                  <div class="row">
                    <div class="col-2">
                      <img
                        src="/img/profile2.png"
                        style="width: 40px"
                        class="rounded-circle"
                      />
                    </div>
                    <div class="col-6">
                      <b>Elon Miau</b>
                      <p class="tw-label">@elonmiau</p>
                    </div>
                    <div class="col-2">
                      <button class="btn btn-light tw-btn-light">Seguir</button>
                    </div>
                  </div>

                  <hr />
                  <div class="row">
                    <div class="col-2">
                      <img
                        src="/img/profile3.png"
                        style="width: 40px"
                        class="rounded-circle"
                      />
                    </div>
                    <div class="col-6">
                      <b>Kitty PurrPurr</b>
                      <p class="tw-label">@hellokitty</p>
                    </div>
                    <div class="col-2">
                      <button class="btn btn-light tw-btn-light">Seguir</button>
                    </div>
                  </div>

                  <a class="tw-link tw-link-primary" href="#">Mostrar mas</a>
                  <br />
                  <br />
                  <a href="#" class="tw-link-light">Política de privacidad</a>
                  <a href="#" class="tw-link-light">Cookies</a>
                  <br />
                  <a href="#" class="tw-link-light">Informaciones</a>
                  <a href="#" class="tw-link-light">Mas</a>
                  <br />
                  <label class="tw-label">© 2019 Kitter</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
