<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="title"><%= user.username %> profile</h1>
      <div class="perfil">
        <img src="<%= user.avatar %> " alt="perfil" class="pic" />
        <p><%= user.email %></p>
        <p><%= user.username %></p>
        <p><%= user.firstname %> <%= user.lastname %></p>
        <label for="description">Bio</label>
        <textarea name="description" id="description" cols="30" rows="10">
<%= user.description %></textarea
        >
      </div>
    </div>
  </body>
</html>
